/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--theme-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: 75px 10px 65px;
  height: 100vh;
  position: relative;
}

.header::before, .footer::before {
  position: absolute;
  content: '';
  display: block;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--additional-color);
  border-right: 1px solid var(--additional-color);
}

.header::after, .footer::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--additional-color);
  border-left: 1px solid var(--additional-color);
}

.header__rec-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--additional-color);
  display: flex;
  align-items: center;
  visibility: var(--header__rec-icon-visibility);
}

.header__rec-icon::before {
  content: 'REC';
  line-height: 25px;
}

.header__rec-icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  margin-left: 9px;
  background-color: var(--additional-color);
  border-radius: 50px;
  box-shadow: 0px 0px 4px 2px var(--additional-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: var(--additional-color);
  line-height: 18px;
  text-transform: lowercase;
  padding: 1.5px 13px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--additional-color-opasity-40);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--additional-color-opasity-40);
}

.header__theme-menu-button_active {
  border: 1px solid var(--additional-color);
  pointer-events: none;
}

.header__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-color);
  text-shadow: 4px 4px var(--accent-color);
  margin-block-start: 65px;
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 18px;
}

.main {
  margin-block-start: 40px;
  margin-block-end: 40px;
  padding: 0px 10px;
  display: grid;
  gap: 50px;
}

.text-decor {
  color: var(--decorate-color);
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0px;
}

.title-list-decor {
  background-color: var(--accent-color);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0px;
}

.info-box__title {
  color: var(--additional-color);
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 18px;
}

.list__title {
  margin-block-start: 20px;
}

.article__title {
  margin: 20px 0 10px;
}

.content-link {
  color: var(--decorate-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  text-decoration: underline;

}

.content-link:focus {
  outline: 1px solid var(--decorate-color);
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: 116px;
  line-height: 82.5%;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 2px 2px var(--accent-color);

}

@media (width >= 768px) {

  .header::before, .footer::before {
    top: 20px;
    right: 20px;
  }
  
  .header::after, .footer::after {
    bottom: 20px;
    left: 20px;
  }
  
  .header__rec-icon {
    top: 20px;
    right: 30px;
  }

 .header__theme-menu {
  padding-top: 18.75%;
 }

 .header__heading {
  font-size: 120px;
  margin-top: 16.9%;
}

.header__title {
  display: block;
  max-width: 364px;
  margin-left: auto;
  margin-top: 15.8%;
}

.main {
  margin-top: 85px;
  padding: 0px 20px;
}

.info-box:first-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.info-box::not(:last-child) {
  margin-bottom: 80px;
}

.article__title {
  margin-top: 0px;
}

.article-item:not(:last-child) {
  margin-bottom: 20px;
}

.info-box:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 70px 1fr;
  gap: 20px;
}

.info-box:nth-child(2) .article-article__title {
  grid-row-start: 1;  
  grid-row-end: 2; 
  grid-column-start: 1;  
  grid-column-end: 2;
}

.info-box:nth-child(2) .article-list {
  grid-row-start: 2;  
  grid-row-end: 3; 
  grid-column-start: 1;  
  grid-column-end: 3;
}

.info-box:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.list__title {
  margin-block-start: 0px;
  margin-block-end: 20px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 190px 230px 480px;
  gap: 20px;
}


.gallery-list__item:nth-child(1) {
  grid-row-start: 1;  
  grid-row-end: 2; 
  grid-column-start: 1;  
  grid-column-end: 3;
}

.gallery-list__item:nth-child(2) {
  grid-row-start: 1;  
  grid-row-end: 3; 
  grid-column-start: 3;  
  grid-column-end: 4;
}
.gallery-list__item:nth-child(3) {
  grid-row-start: 2;  
  grid-row-end: 4; 
  grid-column-start: 1;  
  grid-column-end: 2;
}

.gallery-list__item:nth-child(4) {
  grid-row-start: 2;  
  grid-row-end: 3; 
  grid-column-start: 2;  
  grid-column-end: 3;
}

.gallery-list__item:nth-child(5) {
  grid-row-start: 3;  
  grid-row-end: 4; 
  grid-column-start: 2;  
  grid-column-end: 4;
}

}
